:root {
    --foreground-rgb: rgb(52, 51, 50);
    --background-rgb: rgb(254, 254, 254);
    --active-link-rgb: rgb(16, 84, 94);
    --nav-bubble-rgb: rgb(244, 244, 244);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground-rgb);
    background-color: var(--background-rgb);
}

a {
    color: inherit;
    text-decoration: none;
}
