:root {
    --foreground-rgb: 52, 51, 50;
    --background-rgb: 254, 254, 254;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-rgb));
}

a {
    color: inherit;
    text-decoration: none;
}
