.section {
    max-width: 800px;
    padding: 0 2rem;
}

.title {
    color: var(--active-link-rgb);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}

.email {
    display: inline-block;
    margin: 1rem 0 0 -0.25rem;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.email.clicked {
    animation: blink 1s infinite alternate; /* add a blink animation when the email is clicked */
}

@keyframes blink {
    from {
        background-color: #d1e7cb;
    }
    to {
        background-color: var(--background-rgb);
    }
}
