.nav {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */

    padding: 0 2px; /* The 2px is to prevent the nav bubble from getting cut off */
}

.nav::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.nav-items-container {
    display: flex;

    justify-content: center;

    gap: 0.5rem;
}

.nav-link {
    transition: all 0.2s ease-in-out;

    height: 2rem;

    padding: 0.25rem 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link:hover {
    color: var(--active-link-rgb);
}

.nav-link.active {
    color: var(--active-link-rgb);
}

.nav-bubble {
    position: absolute;
    inset: 0 auto auto 0;
    background-color: var(--nav-bubble-rgb);
    border-radius: 0.25rem;
    z-index: -1;
}

/* mobile version */
.nav-items-container {
    flex-direction: row;
    align-items: center;
}

.nav-bubble {
    height: 100%;
}

.visible-mobile {
    display: block;
}

.visible-desktop {
    display: none;
}

/* desktop version */
@media (min-width: 768px) {
    .nav-items-container {
        flex-direction: column;
        gap: 0.5rem;
    }

    .nav-bubble {
        height: 2rem;
    }

    .visible-mobile {
        display: none;
    }

    .visible-desktop {
        display: block;
    }
}
